<?xml version="1.0" encoding="UTF-8" ?>
<Configuration Status="INFO" packages="com.dystify.kkdystrack.v2.core.util" >
	<Properties>
		<Property name="guiPattern" value="%d{hh:mm:ss a} [%-5p] [%logger{1}]: %m%n" />
		<Property name="filePattern" value="%d{hh:mm:ss.SSS a} [%-5p] [%logger]: %m%n" />
	</Properties>
	
	
	
	
	<Appenders>
		<!-- GUI_INFO_FILE -->
		<RollingFile name="info_file" filePattern="${env:APPDATA}/KKDystrack/log/general_info/%d{yyyy-MM}/general_info-%d{MM-dd}.log" >
			<PatternLayout pattern="${filePattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DirectWriteRolloverStrategy />
			<Filters>
				<ThresholdFilter level="warn"  onMatch="DENY"   onMismatch="NEUTRAL"/>
		        <ThresholdFilter level="error" onMatch="DENY"   onMismatch="NEUTRAL"/>
		        <ThresholdFilter level="fatal" onMatch="DENY"   onMismatch="NEUTRAL"/>
        
				<ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</RollingFile>
		
		
		
		<!-- GUI_ERROR_FILE -->
		<RollingFile name="error_file" filePattern="${env:APPDATA}/KKDystrack/log/general_error/%d{yyyy-MM}/general_error-%d{MM-dd}.log" >
			<PatternLayout pattern="${filePattern}" />			
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DirectWriteRolloverStrategy />
			<Filters>
				<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</RollingFile>
		
		
		
		<!-- DEBUG_FILE -->
		<RollingFile name="debug_file" filePattern="${env:APPDATA}/KKDystrack/log/debug/debug-%d{yyyy-MM-dd}.log" >
			<PatternLayout pattern="${filePattern}" />		
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DirectWriteRolloverStrategy >
				<Delete basePath="${env:APPDATA}/KKDystrack/log/debug/" maxDepth="2" >
					<IfLastModified age="7d" />
				</Delete>
			</DirectWriteRolloverStrategy>
		</RollingFile>
		
		
		
		
		
		<!-- GUI logging -->
		<TextAreaAppender name="gui_appender_info">
			<PatternLayout pattern="${guiPattern}" />
			<Filters>
				<ThresholdFilter level="warn"  onMatch="DENY"   onMismatch="NEUTRAL"/>
		        <ThresholdFilter level="error" onMatch="DENY"   onMismatch="NEUTRAL"/>
		        <ThresholdFilter level="fatal" onMatch="DENY"   onMismatch="NEUTRAL"/>
        
				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</TextAreaAppender>
		
		
		<TextAreaAppender name="gui_appender_error">
			<PatternLayout pattern="${guiPattern}" />
			<Filters>
				<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</TextAreaAppender>
		
		<Console name="std_out" target="SYSTEM_OUT">
			<PatternLayout pattern="${filePattern}"/>
		</Console>
		
		<Console name="std_err" target="SYSTEM_ERR">
			<PatternLayout pattern="${filePattern}"/>
			<Filters>
				<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</Console>
	</Appenders>
	
	
	
	
	
	<Loggers>
		<Root level="INFO" >
			<AppenderRef ref="info_file" />
			<AppenderRef ref="error_file" />
			<AppenderRef ref="debug_file" level="ALL" />
			<AppenderRef ref="gui_appender_info" />
			<AppenderRef ref="gui_appender_error" />
			<!-- <AppenderRef ref="std_out" />
			<AppenderRef ref="std_err" /> -->
		</Root>
	</Loggers>
	
</Configuration>